---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import RouletteWheel from '../components/RouletteWheel.jsx';
import MoneyDisplay from '../components/MoneyDisplay.jsx';
import BettingTable  from '../components/BettingTable.astro';
---


<Layout title="Roulette">
    <Header url=${currentUrl} />
    <main>
        <RouletteWheel client:load />
        <BettingTable client:load />
    </main>
</Layout>

<style>
    main {
        margin: auto;
		padding: 2rem;
		max-width: 60ch;
        max-height: 60ch;
        text-align: center;
    }
    h1 {
        font-size: 2.5rem;
        font-weight: 800;
        margin: 0;
    }
</style>