<div>
  <h2 id="totalMoney">Total Money: 0</h2>
  <h2 id="currentBet">Current Bet: 0</h2>
    <table class="roulette-table">
      <tbody>
        <tr>
          <td></td>
          <td>
              <button name="numbers" id="3">
              3
              </button>
          </td>
          <td>
            <button name="numbers" id="6">
              6
            </button>
          </td>
          <td>
            <button name="numbers" id="9">
              9
            </button>
          </td>
          <td>
            <button name="numbers" id="12">
              12
            </button>
          </td>
          <td>
            <button name="numbers" id="15">
              15
            </button>
          </td>
          <td>
            <button name="numbers" id="18">
              18
            </button>
          </td>
          <td>
              <button name="numbers" id="21">
              21
              </button>
          </td>
          <td>
              <button name="numbers" id="24">
              24
              </button>
          </td>
          <td>
              <button name="numbers" id="27">
              27
              </button>
          </td>
          <td>
              <button name="numbers" id="30">
              30
              </button>
          </td>
          <td>
              <button name="numbers" id="33">
              33
              </button>
          </td>
          <td>
              <button name="numbers" id="36">
              36
              </button>
          </td>
          <td>
            <button name="vertical" id="first">
              2 to 1
            </button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <button name="numbers" id="0">
              0
            </button>
          </td>
          <td>
            <button name="numbers" id="2">
              2
            </button>
          </td>
          <td>
            <button name="numbers" id="5">
              5
            </button>
          </td>
          <td>
            <button name="numbers" id="8">
              8
            </button>
          </td>
          <td>
            <button name="numbers" id="11">
              11
            </button>
          </td>
          <td>
            <button name="numbers" id="14">
              14
            </button>
          </td>
          <td>
            <button name="numbers" id="17">
              17
            </button>
          </td>
          <td>
              <button name="numbers" id="20">
              20
              </button>
          </td>
          <td>
              <button name="numbers" id="23">
              23
              </button>
          </td>
          <td>
              <button name="numbers" id="26">
              26
              </button>
          </td>
          <td>
              <button name="numbers" id="29">
              29
              </button>
          </td>
          <td>
              <button name="numbers" id="32">
              32
              </button>
          </td>
          <td>
              <button name="numbers" id="35">
              35
              </button>
          </td>
          <td>
              <button name="vertical" id="second">
              2 to 1
              </button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button name="numbers" id="1">
              1
            </button>
          </td>
          <td>
            <button name="numbers" id="4">
              4
            </button>
          </td>
          <td>
            <button name="numbers" id="7">
              7
            </button>
          </td>
          <td>
            <button name="numbers" id="10">
              10
            </button>
          </td>
          <td>
            <button name="numbers" id="13">
              13
            </button>
          </td>
          <td>
            <button name="numbers" id="16">
              16
            </button>
          </td>
          <td>
              <button name="numbers" id="19">
              19
              </button>
          </td>
          <td>
              <button name="numbers" id="22">
              22
              </button>
          </td>
          <td>
              <button name="numbers" id="25">
              25
              </button>
          </td>
          <td>
              <button name="numbers" id="28">
              28
              </button>
          </td>
          <td>
              <button name="numbers" id="31">
              31
              </button>
          </td>
          <td>
              <button name="numbers" id="34">
              34
              </button>
          </td>
          <td>
              <button name="vertical" id="third">
              2 to 1
              </button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="4">
              <button name="horizontal" id="first" style={{ width: "100%" }}>
              1st 12
              </button>
          </td>
          <td colspan="4">
              <button name="horizontal" id="second" style={{ width: "100%" }}>
              2nd 12
              </button>
          </td>
          <td colspan="4">
              <button name="horizontal" id="third" style={{ width: "100%" }}>
              3rd 12
              </button>
          </td>
          <td></td>
          </tr>
          <tr>
          <td></td>
          <td colspan="2">
              <button name="eighteen" id="first" style={{ width: "100%" }}>
              1 to 18
              </button>
          </td>
          <td colspan="2">
              <button name="evenOdd" id="even" style={{ width: "100%" }}>
              Even
              </button>
          </td>
          <td colspan="2">
              <button name="colors" id="red" style={{ width: "100%" }}>
              Red
              </button>
          </td>
          <td colspan="2">
              <button name="colors" id="black" style={{ width: "100%" }}>
              Black
              </button>
          </td>
          <td colspan="2">
              <button name="evenOdd" id="odd" style={{ width: "100%" }}>
              Odd
              </button>
          </td>
          <td colspan="2">
              <button name="eighteen" id="second" style={{ width: "100%" }}>
              19 to 36
              </button>
          </td>
          <td></td>
          </tr>
      </tbody>
    </table>
    <br>
    <button id="lockIn">Lock In 🔒</button>
    <hr>
  </div>

<script is:inline>
  let userBets = {
    numbers: {
      0: 0,
      1: 0,
      2: 0,
      3: 0,
      4: 0,
      5: 0,
      6: 0,
      7: 0,
      8: 0,
      9: 0,
      10: 0,
      11: 0,
      12: 0,
      13: 0,
      14: 0,
      15: 0,
      16: 0,
      17: 0,
      18: 0,
      19: 0,
      20: 0,
      21: 0,
      22: 0,
      23: 0,
      24: 0,
      25: 0,
      26: 0,
      27: 0,
      28: 0,
      29: 0,
      30: 0,
      31: 0,
      32: 0,
      33: 0,
      34: 0,
      35: 0,
      36: 0
    },
    twelve: {
      horizontal: {
        first: 0, // 1-12
        second: 0, // 13-24
        third: 0 // 25-36
      },
      vertical: {
        first: 0, // 1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34
        second: 0, // 2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32
        third: 0 // 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33
      }
    },
    eighteen: {
      first: 0, // 1-18
      second: 0 // 19-36
    },
    colors: {
      red: 0,
      black: 0
    },
    evenOdd: {
      even: 0,
      odd: 0
    }
};
    // on click of any inside of roulette-table class
    let totalBet = 0;
    let money = 10;
    document.getElementById('totalMoney').innerHTML = "Total Money: " + (money)
    const bettingButtons = document.querySelectorAll('.roulette-table button');
    bettingButtons.forEach(button => {
      button.addEventListener('click', () => {
        let name = button.getAttribute('name');
        let id = button.getAttribute('id');
        if (name === 'numbers') {
          if (totalBet == money) {
            alert('You have no more money to bet!');
            return;
          }
          userBets.numbers[id] += 1;
          totalBet += 1;
          console.log(userBets.numbers);
          console.log(totalBet);
        } else if (name === 'horizontal') {
          if (totalBet == money) {
            alert('You have no more money to bet!');
            return;
          }
          userBets.twelve.horizontal[id] += 1;
          totalBet += 1;
          console.log(userBets.twelve.horizontal);
        } else if (name === 'vertical') {
          if (totalBet == money) {
            alert('You have no more money to bet!');
            return;
          }
          userBets.twelve.vertical[id] += 1;
          totalBet += 1;
          console.log(userBets.twelve.vertical);
        } else if (name === 'eighteen') {
          if (totalBet == money) {
            alert('You have no more money to bet!');
            return;
          }
          userBets.eighteen[id] += 1;
          totalBet += 1;
          console.log(userBets.eighteen);
        } else if (name === 'colors') {
          if (totalBet == money) {
            alert('You have no more money to bet!');
            return;
          }
          userBets.colors[id] += 1;
          totalBet += 1;
          console.log(userBets.colors);
        } else if (name === 'evenOdd') {
          if (totalBet == money) {
            alert('You have no more money to bet!');
            return;
          }
          userBets.evenOdd[id] += 1;
          totalBet += 1;
          console.log(userBets.evenOdd);
        }
        document.getElementById('currentBet').innerHTML = "Current Bet: " + totalBet;
      });
    });
    // listen for right click on any button
    bettingButtons.forEach(button => {
      button.addEventListener('contextmenu', (e) => {
        e.preventDefault();
        let name = button.getAttribute('name');
        let id = button.getAttribute('id');
        if (name === 'numbers') {
          if (userBets.numbers[id] > 0) {
            userBets.numbers[id] -= 1;
            if (totalBet > 0) {
              totalBet -= 1;
            }
            console.log(userBets.numbers);
          }
        } else if (name === 'horizontal') {
          if (userBets.twelve.horizontal[id] > 0) {
            userBets.twelve.horizontal[id] -= 1;
            if (totalBet > 0) {
              totalBet -= 1;
            }
            console.log(userBets.twelve.horizontal);
          }
        } else if (name === 'vertical') {
          if (userBets.twelve.vertical[id] > 0) {
            userBets.twelve.vertical[id] -= 1;
            if (totalBet > 0) {
              totalBet -= 1;
            }
            console.log(userBets.twelve.vertical);
          }
        } else if (name === 'eighteen') {
          if (userBets.eighteen[id] > 0) {
            userBets.eighteen[id] -= 1;
            if (totalBet > 0) {
              totalBet -= 1;
            }
            console.log(userBets.eighteen);
          }
        } else if (name === 'colors') {
          if (userBets.colors[id] > 0) {
            userBets.colors[id] -= 1;
            if (totalBet > 0) {
              totalBet -= 1;
            }
            console.log(userBets.colors);
          }
        } else if (name === 'evenOdd') {
          if (userBets.evenOdd[id] > 0) {
            userBets.evenOdd[id] -= 1;
            if (totalBet > 0) {
              totalBet -= 1;
            }
            console.log(userBets.evenOdd);
          }
        }
        document.getElementById('currentBet').innerHTML = "Current Bet: " + totalBet;
      });
    });

</script>